<%- include('partials/header') %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item " aria-current="page"><a href="/landing">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/explore-nutritionist">Trainers</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chat with <%=trainer%></li>
  </ol>
</nav>
<div class="container">
  <form action="chat.html">
    <div class="form-group">
      <label for="InputName">UserName</label>
      <input type="name" class="form-control" id="InputName" placeholder="UserName" name="username" value="<%=currentUser.username%>">
    </div>

    <div class="form-group">
      <label for="InputPassword1">Select Trainer</label>
      <select name="room" class="form-control" id="trainerid">
        <option><%=trainer%></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
</div>
<%- include('partials/footer') %>
